:root {
    --primary: #bdac97;
    --secondary: #F0DBC0;
    --tertiary: #1A1A1A;
    --yellow: #F2BE79;
    --yellow-hover: #d1a366;
    --dark: #000;
    --dark-light: rgba(0, 0, 0, .7);
    --white: #FFF;
    --red: #e74c3c;
    --footer: #705838;
}